<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName" 
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd" default-lazy-init="true">
    <!-- 自动注入配置 -->  
    <aop:aspectj-autoproxy />
    <!-- 该 BeanPostProcessor 将自动对标注 @Autowired 的 Bean 进行注入 如都用@Resource 则可删除      
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>--> 
    <context:component-scan base-package="net.zdsoft"/>
    
    <!-- 加载系统参数配置文件 -->
    <bean id="systemConfigurer" class="net.zdsoft.common.resource.NetStudyPropertyPlaceholderConfigurer">
   	    <property name="order" value="1" />
	    <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
            <list>
                <value>file:/opt/server_data/chnmaster/common.properties</value>
                <value>classpath:conf/business/common.properties</value>
            </list>
        </property>
    </bean>
    
    <!-- 注入自己的bean方法 -->      
    <bean class="net.zdsoft.common.service.InjectBeanSelfProcessor" />
        
	<!-- 定义缓存对象 
    <bean id="cacheManager" class="net.zdsoft.keel.cache.DefaultCacheManager" lazy-init="false" destroy-method="shutdown" />  
    <bean id="cacheBean" class="net.zdsoft.common.cache.CacheProviderFactoryBean" lazy-init="false">
       	<property name="cacheServerUrl" value="${cache.server_url}"></property>
    </bean>
    -->
    
    <!-- 文件服务器初始化 -->
    <bean class="net.zdsoft.common.filesystem.util.FileSystemInitBean" lazy-init="false" autowire="byName">
       	<property name="fileType" value="${file.file_type}"></property>
    	<property name="filePath" value="${file.file_path}"></property>
    	
    </bean>
    
    <!-- 配置发送模板bean-->  
    <bean id="freeMarkerConfigurer"  
        class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">  
        <property name="templateLoaderPaths" value="classpath:mailTemplate" /><!-- 模板路径位置 -->  
        <property name="freemarkerSettings">  
            <props>  
                <prop key="template_update_delay">1800</prop><!-- 模板更新延时 -->  
                <prop key="default_encoding">UTF-8</prop>  
                <prop key="locale">zh_CN</prop>  
            </props>  
        </property>  
    </bean>  
</beans>
